@import "scss/_variables.scss";
@import "scss/_mixins.scss";

.BoxMiniSocial {
  display: block;
  width: 30px;
  height: 30px;
  i{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    //force the image preloaded before it may be hovered
    &:after{
      display: none;
      content: "";
    }
  }
  .icon-ig {
    background-image: url("./images/new_ig.svg");
    &:hover, &:after{
      background-image: url("./images/new_ig_hover.svg");
    }
  }
  .icon-github {
    background-image: url("./images/new_github.svg");
    &:hover, &:after{
      background-image: url("./images/new_github_hover.svg");
    }
  }
  .icon-youtube {
    background-image: url("./images/new_youtube.svg");
    &:hover, &:after{
      background-image: url("./images/new_youtube_hover.svg");
    }
  }
  .icon-tweeter {
    background-image: url("./images/new_twitter.svg");
    &:hover, &:after{
      background-image: url("./images/new_twitter_hover.svg");
    }
  }
  .icon-medium {
    background-image: url("./images/new_medium.svg");
    &:hover, &:after{
      background-image: url("./images/new_medium_hover.svg");
    }
  }
  .icon-facebook {
    background-image: url("./images/new_facebook.svg");
    &:hover, &:after{
      background-image: url("./images/new_facebook_hover.svg");
    }
  }
}
