@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.HelpFAB {
  .fab {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 1;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #ffffff !important;
    border: 10px solid #667d9a !important;
  };

  .material-icons.md-fab {
    font-size: 50px;
    color: #667d9a;
    margin-top: -11px;
    margin-left: -17px;
  }
}
