.BoxMiniSocial {
  display: block;
  width: 38px;
  height: 38px; }
  .BoxMiniSocial i {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain; }
    .BoxMiniSocial i:after {
      display: none;
      content: ""; }
  .BoxMiniSocial .icon-github {
    background-image: url("./images/github_grey.svg"); }
    .BoxMiniSocial .icon-github:hover, .BoxMiniSocial .icon-github:after {
      background-image: url("./images/github_grey_hover.svg"); }
  .BoxMiniSocial .icon-eos-chat {
    background-image: url("./images/chat_grey.svg"); }
    .BoxMiniSocial .icon-eos-chat:hover, .BoxMiniSocial .icon-eos-chat:after {
      background-image: url("./images/chat_grey_hover.svg"); }
  .BoxMiniSocial .icon-tweeter {
    background-image: url("./images/twitter_grey.svg"); }
    .BoxMiniSocial .icon-tweeter:hover, .BoxMiniSocial .icon-tweeter:after {
      background-image: url("./images/twitter_grey_hover.svg"); }
  .BoxMiniSocial .icon-medium-blog {
    background-image: url("./images/medium_grey.svg"); }
    .BoxMiniSocial .icon-medium-blog:hover, .BoxMiniSocial .icon-medium-blog:after {
      background-image: url("./images/medium_grey_hover.svg"); }
  .BoxMiniSocial .icon-facebook {
    background-image: url("./images/facebook_grey.svg"); }
    .BoxMiniSocial .icon-facebook:hover, .BoxMiniSocial .icon-facebook:after {
      background-image: url("./images/facebook_grey_hover.svg"); }
