.dragDropCodeViewerContainer {
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 3px;
    height: 80%;

    .jumbotron {
      border-radius: 0;
      background-color: #f8f9fa !important;
    }

    .dropzone {
      height: 100%;
      > div {
        height:100%;
      }
      .jumbotron {
        height: 100%;
        width: 100%;
        margin: 0;

        p#ddLabel {
          width: 20%;
          margin-top: 4em;
          margin-left: 40%;
        }

      }
    }
  
    &.hasFileData {

      .CodeViewer {
        display:block;
      }
      .dropzone {
        position: absolute;
        top: 0;
        width: 100%;
        height: 6em;
  
        .jumbotron {
          padding: 1em;
          margin: 0;
          height: 5em;
          width: 100%;
  
          p.lead {
            font-size: 14px;
            text-align: left !important;
            width: 75% !important;
            float: left;
            margin-top: 0.15em;
          }

          p#ddLabel {
            margin-top: 0.15em;
            margin-left: 0;
            width: inherit;
          }

          p.lead.browseButton {
            width: 25% !important;
            text-align: right !important;
            margin: 0;
            padding-right: 1em;
  
            button {
              padding: 0.25rem 0.3rem;
              font-size: 0.76562rem;
              line-height: 1;
              border-radius: 0.2rem;
              margin-top: -3.2em;
            }
          }
          hr {
            display: none;
          }
        }
      }
    }
  
    .CodeViewer {
      padding-top: 4em;
      display: none;
    }
  }
