@import "mixins.scss";

.InfoPage{
  .high-block{
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    background: #dddddd;
  }
}
