.TermsOfUsePage{
  padding-bottom: 100px;
  text-align: left;
  font-size: 16px;
  color: grey;
  line-height: 24px;

  .header {
    padding-top:50px;
    background-image: -webkit-linear-gradient(-180deg, #FCFCFC 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(-180deg, #FCFCFC 0%, #ffffff 100%);
    background-image: -o-linear-gradient(-180deg, #FCFCFC 0%, #ffffff 100%);
    background-image: linear-gradient(-180deg, #FCFCFC 0%, #ffffff 100%);
    margin-bottom: 40px;

    h1 {
      text-align: center;
    }
  }

  .content {
    margin: 0 auto;
    width: 1364px;
    max-width: 1364px;
    
    h4 {
      margin-top: 30px;
    }

    p {
      margin-bottom: 0.11in;
      &.personal-info {
        margin-bottom: 0px;
      }
    }
    ul {
      padding-left: 20px;
      list-style: disc;
      b {
        font-weight:600;
      }
      li {
        margin-bottom: 20px;
      }
    }
    .date {
      margin-top:30px;
    }
  }
}
