.BoxMiniSocial {
  display: block;
  width: 30px;
  height: 30px; }
  .BoxMiniSocial i {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain; }
    .BoxMiniSocial i:after {
      display: none;
      content: ""; }
  .BoxMiniSocial .icon-ig {
    background-image: url("./images/new_ig.svg"); }
    .BoxMiniSocial .icon-ig:hover, .BoxMiniSocial .icon-ig:after {
      background-image: url("./images/new_ig_hover.svg"); }
  .BoxMiniSocial .icon-github {
    background-image: url("./images/new_github.svg"); }
    .BoxMiniSocial .icon-github:hover, .BoxMiniSocial .icon-github:after {
      background-image: url("./images/new_github_hover.svg"); }
  .BoxMiniSocial .icon-youtube {
    background-image: url("./images/new_youtube.svg"); }
    .BoxMiniSocial .icon-youtube:hover, .BoxMiniSocial .icon-youtube:after {
      background-image: url("./images/new_youtube_hover.svg"); }
  .BoxMiniSocial .icon-tweeter {
    background-image: url("./images/new_twitter.svg"); }
    .BoxMiniSocial .icon-tweeter:hover, .BoxMiniSocial .icon-tweeter:after {
      background-image: url("./images/new_twitter_hover.svg"); }
  .BoxMiniSocial .icon-medium {
    background-image: url("./images/new_medium.svg"); }
    .BoxMiniSocial .icon-medium:hover, .BoxMiniSocial .icon-medium:after {
      background-image: url("./images/new_medium_hover.svg"); }
  .BoxMiniSocial .icon-facebook {
    background-image: url("./images/new_facebook.svg"); }
    .BoxMiniSocial .icon-facebook:hover, .BoxMiniSocial .icon-facebook:after {
      background-image: url("./images/new_facebook_hover.svg"); }
