.app-footer {
  color: #23282c;
  background: #d5e0eb;
  border-top: 2px solid #a5b2bf;

  span:first-child {
    margin-left: 15px;
  }
  a {
    color: #23282c;
    font-weight: bold;
    margin-right: 75px;
  }
}
