.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 11px;
  min-width: 992px;
  padding: 0 30px;
  width: 100%;

  /* Remove header responsiveness from Core UI */
  .navbar-brand {
    position: initial;
    top: initial;
    left: initial;
    margin-left: initial;
  }
  .d-md-down-none {
    display: inherit !important;
  }
  .nav-items{
  }
}
