.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 11px;
  min-width: 992px;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;

  /* Remove header responsiveness from Core UI */
  .navbar-brand {
    position: initial;
    top: initial;
    left: initial;
    margin-left: initial;
  }
  .d-md-down-none {
    display: inherit !important;
  }
  .nav-items{
    justify-content: space-evenly;
  }
}
