.CodeViewer {
    .monaco-editor {
        outline: 1px solid #e8ebf0;

        :focus{
            outline: 1px solid #1173a4;
        }
        /* Bootstrap padding fix */
        max-width: 100%;
        .overflow-guard {
            max-width: 100%;
        }
        .decorationsOverviewRuler, .scrollbar {
            //right: 11px !important;
        }
    }

    &.invalid {
        .monaco-editor {
            outline: 1px solid red;
        }
    }
}
